# URL backend API SPPG MBG
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# Supabase project (public/anon, aman untuk frontend)
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
